@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --font-one--: "Roboto Condensed", sans-serif;
  --font-two--: "Montserrat", sans-serif;
  --primary-color--: #129990;
  --secondary-color--: #f5f5f5;
}
/* Loader Start */
.loader {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color--);
  color: white;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease;
}

.loader h1 {
  font-size: 6vw;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  position: absolute;
  animation-name: load;
  animation-duration: 1.3s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.loader h1:nth-child(2) {
  animation-delay: 2.3s;
}

.loader h1:nth-child(3) {
  animation-delay: 3.5s;
}

.loader.hide {
  top: -100vh;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Loader End */

/* Header Start */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 15vh;
  width: 100%;
  background-color: transparent;
  animation: headeranime 2s ease-in-out 5s;
  z-index: 10;
}

@keyframes headeranime {
  0% {
    top: -25%;
  }
  100% {
    top: 0;
  }
}

.logo h1 a {
  text-decoration: none;
  color: var(--secondary-color--);
  font-family: var(--font-one--);
  font-size: 3.2vw;
  font-weight: 800;
}

.logo h1 {
  padding-bottom: 0.4rem;
  position: relative;
  z-index: 6;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  position: relative;
  z-index: 5;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color--);
  font-family: var(--font-one--);
  font-weight: 500;
  font-size: 1.1rem;
}

.search-bar {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}

.srch-inp {
  border: none;
  padding: 0.5rem 0.5rem;
  outline: none;
  font-size: 1.3vw;
  font-family: var(--font-one--);
  background-color: var(--secondary-color--);
}

.srch-btn button {
  background-color: var(--primary-color--);
  color: var(--secondary-color--);
  border: none;
  padding: 0.5rem 1.2rem;
  font-family: var(--font-one--);
  font-size: 1.3vw;
  cursor: pointer;
}

.menu {
  display: none;
  position: relative;
}

.menu button {
  padding: 0.5rem 1rem;
}

.menu a {
  font-family: var(--font-one--);
  text-decoration: none;
  color: black;
}

.menu a i {
  font-size: 3.3vw;
  color: var(--secondary-color--);
}

.menu-div {
  height: 60%;
  z-index: 5;
  width: 100%;
  background-color: var(--primary-color--);
  position: fixed;
  top: -100%;
  transition: all 2s ease;
  display: none;
}

.crossi {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.9rem;
}

.crossi i {
  font-size: 3.3vw;
  color: var(--secondary-color--);
  cursor: pointer;
}

.menu-links {
  height: 80%;
  padding: 0.5rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-links ul li a {
  text-decoration: none;
  color: var(--secondary-color--);
  font-size: 5.1vw;
  font-family: var(fo);
  font-weight: bold;
}

.menu-inp {
  display: flex;
  align-items: center;
}

.menu-inp button {
  border: none;
  border-bottom: 2px solid var(--secondary-color--);
  padding: 1rem;
  color: var(--secondary-color--);
  background-color: transparent;
}

.menu-inp button i {
  color: var(--secondary-color--);
}

.menu-inp input {
  background-color: transparent;
  padding: 1rem;
  font-family: var(--font-one--);
  border: none;
  border-bottom: 2px solid var(--secondary-color--);
  outline: none;
  font-size: 5vw;
}

.menu-inp input::placeholder {
  color: var(--secondary-color--);
}

/* Header End */

/* Herosection Start */

.Hero-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.Hero-section::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -15%;
  left: 0;
  background-image: url(Images/Herosectionimage.jpg);
  background-size: cover;
  z-index: -2;
}

.Hero-section::after {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -15%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.herosect-1 {
  color: var(--secondary-color--);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 3rem 4rem 8rem 4rem;
}

.herosect-1 h2 {
  font-family: var(--font-one--);
  font-weight: 700;
  font-size: 3.8vw;
  width: 44vw;
}

.herosect-1 p {
  font-family: var(--font-two--);
  font-weight: 550;
  font-size: 1.4vw;
}

.herosect-1 button {
  font-family: var(--font-one--);
  font-size: 1.6vw;
  padding: 0.5rem 0.8rem;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  width: 12vw;
  background-color: var(--primary-color--);
  color: var(--secondary-color--);
  cursor: pointer;
  transition: all 0.3s ease;
}

.herosect-1 button:hover {
  transform: scale(1.1);
}

.herosect-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 4rem 5rem 4rem;
}

form {
  height: 66vh;
  width: 21vw;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color--);
  color: var(--secondary-color--);
  align-items: center;
  border-radius: 4px;
  font-family: var(--font-one--);
  padding: 1rem 0;
  font-size: 1.8vw;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--secondary-color--);
  background-color: transparent;
}

form i {
  position: absolute;
  right: 3px;
  font-size: 1.4vw;
}

.label {
  position: absolute;
  font-size: 1.2vw;
  top: -3px;
}

form input:focus + .label {
  top: -16px;
  font-size: 1vw;
}

form button {
  padding: 0.5rem 0.8rem;
  font-size: 1.5vw;
  border-radius: 2px;
  width: 12vw;
  border: none;
  color: var(--primary-color--);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

form button:hover {
  transform: scale(1.1);
}

.formlink-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formlink-cont p {
  color: var(--secondary-color--);
  font-size: 1.5vw;
}

.formlink-cont a {
  text-decoration: none;
  color: var(--secondary-color--);
  cursor: pointer;
  font-size: 1.5vw;
}

form a:hover {
  text-decoration: underline;
}

/* Herosection End */

/* Courses Section Start */
.Courses {
  height: 100vh;
  display: grid;
  padding: 4rem 4rem 4rem 4rem;
}

.Courses h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: var(--heading-font);
}

.coursesh1 h1 {
  font-size: 3.5rem;
  font-family: var(--heading-font);
}

.coursessect {
  display: grid;
  justify-items: center;
  padding: 2.5rem 0;
  gap: 1.9rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
  height: 71vh;
  width: 20vw;
  /* border-radius: 8px; */
  box-shadow: 2px 2px 20px 4px rgb(0, 0, 0, 0.3);
}

.card-img {
  height: 47%;
  width: 100%;
  border-radius: 8px;
}

.card-img img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}

.icon-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-cont i {
  padding-right: 0.3rem;
  font-size: 0.8rem;
}

.icon-cont p {
  font-size: 0.8rem;
  font-family: var(--heading-font);
}

.card-info h2 {
  font-family: var(--heading-font);
}

.card-info :nth-child(3) {
  font-family: var(--heading-font);
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.4rem;
}

.card-info span {
  font-family: var(--text-font--);
  font-size: 0.7rem;
  padding-top: 0.4rem;
}

.card-info span p {
  font-family: var(--heading-font);
  font-size: 1rem;
  font-weight: bold;
}

.cardinfo-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardinfo-last button {
  width: 74%;
  font-family: var(--text-font--);
  font-size: 0.8rem;
  background-color: var(--secondary-color--);
  color: var(--third-color--);
  font-weight: bold;
  border: none;
  padding: 0.4rem 0.7rem;
  transition: all 0.4s ease-in;
}

.cardinfo-last button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cardinfo-last i {
  font-size: 1.5rem;
}

/* Courses Section End */
